.thumb {
    width: 10%;
    max-width: 100 px;
    float: left;
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.titlespage2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.titlespage2 h1,
.titlespage2 h2 {
    margin: 0;
}

.play {
    font-size: 40px;
    background: none;

    color: rgba(168, 175, 182, 0.65);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.play:hover {
    transform: scale(1.15);
}

.loading .dots::after {
    content: "....................................................................................................";
    /* 100 dots */
    display: inline-block;
    width: 2ch;
    /* how many dots are visible at a time */
    overflow: hidden;
    animation: dot-slide 5s linear infinite;
}

@keyframes dot-slide {
    0% {
        transform: translateX(0ch);
    }

    100% {
        transform: translateX(-100ch);
    }
}